
.my-recipes-container .btn{
    background-color: var(--easy-chef-brown) !important;
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
    border: none !important;
    
}


.my-recipes-container .btn:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
    border: none !important;
}

.my-recipes-container .spinner-border{
    border-color: rgba(160, 95, 36, 0.8);
    border-right-color: transparent;
}

.recipe-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    min-height: 595px;
    justify-content: center;
    padding-bottom: 1rem;
    
}

.recipe-list-wrapper{
    border: 2px solid #f8f9fa;
    padding-bottom: 1rem;
    border-top: 0;
    padding-top:2rem;
    margin-top:-20px;
}



